{
	"version": 23,
	"resolution": "1440x1080",
	"displayMode": 0,
	"vsync": true,
	"aspectRatio": "",
	"fOV": 105,
	"showStats": false,
	"showClock": false,
	"fps": 200,
	"gamma": 1.7000000476837158,
	"contrast": 0,
	"brightness": 0,
	"colourBlindMode": 0,
	"displayIndex": 0,
	"useForwardRenderer": false,
	"textureQuality": 0,
	"textureStreamingEnabled": false,
	"aAMode": 0,
	"aAQuality": 0,
	"shadowQuality": 3,
	"dynamicShadowQuality": 4,
	"effectsQuality": 3,
	"pPQuality": 1,
	"foliageQuality": 0,
	"resolutionQuality": 100,
	"colorStrength": 10,
	"colorTint": 5,
	"fog": false,
	"atmospherics": false,
	"landscapeShadows": false,
	"worldContrast": 4.75,
	"skyFade": 5,
	"vignette": 0,
	"lightbouncePower": 7.5,
	"aOStrength": 0,
	"staticAO": false,
	"detailOcclusion": false,
	"lensFlareIntensity": 0,
	"lensFlare": false,
	"bloom": true,
	"exposureAmount": 7.5,
	"motionBlur": false,
	"killAberration": true,
	"masterVolume": 10,
	"musicVolumeMenu": 0,
	"musicVolumeGame": 10,
	"musicVolumeRoundResult": 10,
	"ambientVolume": 10,
	"enableVoiceChat": true,
	"voiceVolume": 7,
	"micVolume": 5,
	"audioOutputDevice": "Headphones",
	"playerShoutVolume": 0,
	"playerRecieveVolume": 0,
	"playerChatMicVolume": 0,
	"soundWhenBackgrounded": false,
	"teamVoiceChat": false,
	"voiceChatMode": 0,
	"voiceInputDevice": "{0.0.1.00000000}.{4741a7fa-51cc-44ba-9c7c-6560739d5460}",
	"voiceOutputDevice": "{0.0.0.00000000}.{08ce9add-4deb-44f7-870b-7a84622e155f}",
	"enableWartideVoiceLines": false,
	"enableFoleySounds": false,
	"mouseSensitivity": 1.7000000476837158,
	"mouseADSSensitivity": 1,
	"mouseFOVScale": false,
	"mouseSeperateScopedSensitivityEnabled": true,
	"mouseSeperateScopedSensitivity": 0.5,
	"mouseInvertLook": false,
	"mouseAcceleration": false,
	"mouseAccelerationAmount": 1,
	"controllerHorizontalSensitivity": 1,
	"controllerVerticalSensitivity": 1,
	"controllerInvertHorizontal": true,
	"controllerInvertVertical": true,
	"controllerVibration": true,
	"controllerSwapSticks": true,
	"controllerAimTechnique": 0,
	"skipKillCam": false,
	"autoSubscribeOnDownload": true,
	"hudScale": 1,
	"mapScale": 1,
	"topBarScale": 1,
	"chatScale": 1,
	"worldMarkerScale": 1,
	"showHUD": true,
	"showTopBar": true,
	"showKillFeed": true,
	"showMiniMap": true,
	"miniMapZoomAmount": 1,
	"showChat": true,
	"showVoiceFeed": true,
	"showKillInfoPanel": true,
	"showCrosshair": true,
	"showPlayerNames": true,
	"showGameStatus": true,
	"showInteraction": true,
	"showInventory": true,
	"showScoreAward": true,
	"showScreenEffects": true,
	"showGrenadeIcon": true,
	"showVault": true,
	"showGameTimer": true,
	"showPickup": true,
	"showMarkers": true,
	"showDistanceOnMarker": false,
	"showBombGameOverviewAvatars": true,
	"showInventoryWeapons": true,
	"showWartideTokenCount": true,
	"showPlayerRanking": true,
	"showFps": false,
	"showNetworkStatusIcons": true,
	"showMedalAwards": true,
	"showTips": true,
	"enableDevConsole": false,
	"sniperScopeType": 0,
	"fixedWeaponViewModel": true,
	"leftHandedWeaponViewModel": false,
	"headBob": false,
	"sprintZoom": false,
	"fixMapRotation": false,
	"coinPickupScale": 1,
	"showSpectatorHud": true,
	"showBuyPhaseAnimation": true,
	"spectatorMaxSpeed": 1,
	"spectatorAcceleration": 0.75,
	"spectatorDeceleration": 2,
	"spectatorFreeCamRotInterpSpeed": 1,
	"useGlobalWeaponOffsets": true,
	"globalWeaponOffset": [ -5, -2, -2 ],
	"mP40Offset": [ 0, 0, 0 ],
	"sTG44Offset": [ 0, 0, 0 ],
	"kar98Offset": [ 0, 0, 0 ],
	"scopedKar98Offset": [ 0, 0, 0 ],
	"gewehr43Offset": [],
	"lugerOffset": [ 0, 0, 0 ],
	"shotgunOffset": [ 0, 0, 0 ],
	"thompsonOffset": [ 0, 0, 0 ],
	"bAROffset": [ 0, 0, 0 ],
	"m1GarandOffset": [ 0, 0, 0 ],
	"m1CarbineOffset": [ 0, 0, 0 ],
	"springfieldOffset": [ 0, 0, 0 ],
	"m1911Offset": [ 0, 0, 0 ],
	"mP28Offset": [ 0, 0, 0 ],
	"greaseGunOffset": [ 0, 0, 0 ],
	"pPSH41Offset": [],
	"mosinNagantOffset": [],
	"scopedMosinNagantOffset": [],
	"baikal21Offset": [],
	"fedorovAvtomatOffset": [],
	"sVT40Offset": [],
	"tT33Offset": [],
	"pPS43Offset": [],
	"axisBinds": [
		{"name":"MoveForward","keys":["W","None","Gamepad_LeftY"],"scale":1},
		{"name":"MoveForward","keys":["S","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["A","None","None"],"scale":-1},
		{"name":"MoveRight","keys":["D","None","Gamepad_LeftX"],"scale":1},
		{"name":"MoveUp","keys":["SpaceBar","Q","None"],"scale":-1},
		{"name":"MoveUp","keys":["None","E","None"],"scale":1},
		{"name":"Turn","keys":["MouseX","None","Gamepad_RightX"],"scale":1},
		{"name":"LookUp","keys":["MouseY","None","None"],"scale":-1},
		{"name":"LookUp","keys":["None","None","Gamepad_RightY"],"scale":1},
		{"name":"CursorUp","keys":["Gamepad_LeftY","None","None"],"scale":-1},
		{"name":"CursorUp","keys":["W","None","None"],"scale":1},
		{"name":"CursorUp","keys":["S","None","None"],"scale":-1},
		{"name":"CursorRight","keys":["Gamepad_LeftX","None","None"],"scale":1},
		{"name":"CursorRight","keys":["D","None","None"],"scale":1},
		{"name":"CursorRight","keys":["A","None","None"],"scale":-1}
	],
	"actionBinds": [
		{"name":"CursorClick","keys":["Gamepad_FaceButton_Bottom","None","None"]},
		{"name":"MenuAltInteract","keys":["RightCmd","None","None"]},
		{"name":"Run","keys":["None","None","None"]},
		{"name":"RunToggle","keys":["LeftShift","Gamepad_LeftThumbstick","None"]},
		{"name":"Jump","keys":["SpaceBar","None","Gamepad_FaceButton_Bottom"]},
		{"name":"CrouchToggle","keys":["LeftControl","None","Gamepad_FaceButton_Right"]},
		{"name":"CrouchHold","keys":["None","None","None"]},
		{"name":"ProneHold","keys":["None","None","None"]},
		{"name":"ProneToggle","keys":["Z","None","Gamepad_RightThumbstick"]},
		{"name":"LeanLeft","keys":["Q","None","None"]},
		{"name":"LeanRight","keys":["E","None","None"]},
		{"name":"Fire","keys":["LeftMouseButton","None","Gamepad_RightTriggerAxis"]},
		{"name":"Targeting","keys":["RightMouseButton","None","Gamepad_LeftTriggerAxis"]},
		{"name":"TargetingToggle","keys":["None","None","None"]},
		{"name":"Reload","keys":["R","None","Gamepad_FaceButton_Left"]},
		{"name":"LethalGrenade","keys":["MiddleMouseButton","None","Gamepad_RightShoulder"]},
		{"name":"SpecialGrenade","keys":["Four","None","Gamepad_LeftShoulder"]},
		{"name":"NextWeapon","keys":["C","Two","MouseScrollUp"]},
		{"name":"PrevWeapon","keys":["MouseScrollDown","None","Gamepad_FaceButton_Top"]},
		{"name":"MeleeAttack","keys":["LeftBracket","ThumbMouseButton","None"]},
		{"name":"Use","keys":["F","None","None"]},
		{"name":"DropBomb","keys":["G","None","None"]},
		{"name":"Inspect","keys":["V","CapsLock","None"]},
		{"name":"Scoreboard","keys":["Tab","None","None"]},
		{"name":"ScoreboardPageUp","keys":["PageUp","None","None"]},
		{"name":"ScoreboardPageDown","keys":["PageDown","None","None"]},
		{"name":"InGameMenu","keys":["Escape","Global_Menu","Global_Pause"]},
		{"name":"ReadyUp","keys":["F1","None","None"]},
		{"name":"SettingsReview","keys":["Backspace","None","None"]},
		{"name":"TeamSelection","keys":["M","None","None"]},
		{"name":"LoadoutSelection","keys":["None","L","None"]},
		{"name":"GlobalChat","keys":["T","None","None"]},
		{"name":"TeamChat","keys":["Y","None","None"]},
		{"name":"GroupChat","keys":["U","None","None"]},
		{"name":"VoiceChat","keys":["B","None","None"]},
		{"name":"MenuBack","keys":["Escape","None","None"]},
		{"name":"ConsoleKey","keys":["Tilde","None","None"]},
		{"name":"VoteYes","keys":["F2","None","None"]},
		{"name":"VoteNo","keys":["F3","None","None"]},
		{"name":"ToggleRecordReplay","keys":["F4","None","None"]},
		{"name":"ToggleReplayUI","keys":["None","None","None"]},
		{"name":"ToggleXray","keys":["X","None","None"]},
		{"name":"ToggleGrenadeLines","keys":["J","None","None"]},
		{"name":"ToggleAutoCam","keys":["O","None","None"]},
		{"name":"ToggleOverviewMap","keys":["N","None","None"]},
		{"name":"ToggleVisionLines","keys":["K","None","None"]},
		{"name":"ToggleXrayPlayernames","keys":["P","None","None"]},
		{"name":"FollowGrenade","keys":["None","None","None"]}
	],
	"matchmakingRegion": "87251342-21f2-11e8-b3a6-0242ac110003"
}